.box {
  display: flex;
  align-items: center;
}

.child1 {
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child2 {
  width: 60%;
  height: 100vh;
  padding-top: 50px;
}

.center {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.ck-editor__editable_inline {
  max-height: 100vh;
}

.controllerBtn {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.previewContainer {
  background: gray;
  overflow: auto;
}

.addPadding {
  padding: 30px;
}

#preview {
  background: #fff;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}